body{
    background-color: #000000;
    font-family: cairo;
    margin: 0;
    /**/animation: FadeIn 2s;
    animation: FadeIn 3s;
}

@keyframes FadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes To_up{
    from{
        transform: translateY(1000px);
    }
    to{
        transform: translateY(0);
    }
}

.Title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fddf00;
    padding: 10px;
    border-radius: 0 0 35px 35px;
    height: 80px;
}
.logo{
    width: 100px;
    transition: all 0.3s;
}
.logo:hover{
    width: 120px;
    
    transition: all 0.3s;
}
.PS{
    width: 100px;
    border-radius: 20px;
    transition: all 0.3s;
    
}

.PS:hover{
    width: 120px;
    border-radius: 50px;
    transition: all 0.3s;
    
}
.Search_bar{
    border-radius: 50px;
    height: 10px;
    border: none;
    outline: none;
    padding: 10px;
    width: 200px;
}
.Search_icon{
    width: 30px;
    position:absolute ;
    right: 9px;
    top: 35px;
}
.Home{
    animation: fadeIn 1s ease-out forwards;

    color: black;
    text-decoration: none;
    font-size: larger;
    transition: all 0.3s;
}
.Home:hover{
    background-color: #001aff2f;
    font-size: x-large;
    border-radius: 50px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    transition: all 0.3s;
    
}
.Home:active{
    
    background-color: #00ff0880;
    font-size: small;
    border-radius: 50px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    transition: all 0.3s;
    
}
.Social_Media{

    display: flex;
    justify-content: space-between;
}
.Whatsapp{
    animation: To_up 1s;
    width: 200px;
    transition: all 0.5s;

}
.Whatsapp:hover{
    width: 250px;
    transition: all 0.5s;
}
.text{
    animation: To_up 2s;
    display: flex;
    justify-content: center;
    font-size: larger;
    background-color: #fddf00;
    border-radius: 100px;
    position:relative;
    top: 100px;
}